/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*
Your code starts here!
*/

/* General */
:root {
  --bg-color: rgb(255, 255, 255);
  --nav-text: rgb(210, 210, 210);
}

.content {
  max-width: 800px;
  margin: auto;
  background: var(--bg-color);
}

/* Text */

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: auto;
}
p {
  line-height: 17.5px;
}
a {
  text-decoration: none;
  color: var(--nav-text);
}

/* Header */

header nav {
  min-width: 100%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
}

header nav a {
  padding: 10px;
  margin: 10px;
  font-size: 0.75rem;
}

header nav img {
  padding: 10px;
  margin-left: 25px;
}

.logo-div {
  float: right;
}

/* Sections */

section {
  position: relative;
  min-width: 800px;
  float: left;
  clear: none;
  margin: 0;
  
}

section:bottom {
  margin:100px;
}

section div {
  padding: 10px;
  margin: 2px;
  margin-top: 35px;
}

.one-div, .two-divs, .three-divs {
  width: 800px;
}

.three-divs div {
  max-width: 30%;
  float: left;
}

.two-divs div {
  max-width: 48%;
  float: left;
}

#page-heading {
  margin: auto;
}

#circle-img {
  background: none;
}